  <div id="contentwrapper">
    <div id="contentcolumn">
      <div class="innertube">
        <div class="links-inline">
          <ul>
            <li><a href="#">All</a></li>  
            <li><a href="#">Re-Feeds</a></li>  
            <li><a href="#">Mics</a></li>
          </ul>
        </div> <!--end of .links-inline -->
        <div id="content">
          <!-- Want each text feed item to be put in a div with the text styling -->
          <% @feeds.each do |feed| %>
            <%= render feed.type, feed: feed %>
          <% end %>
        </div>
        </div> <!--end of #masonry-container -->
      </div> <!--end of .innertube -->
    </div> <!--end of #contentcolumn -->
  </div> <!--end of #contentwrapper -->
  <div id="leftcolumn">
    <div class="innertube">
      <div id="personal-profile">
        <h1><b>Personal Profile</b></h1>
        <p>I love TuneLine yes I do</p>
      <div> <!--end of #personal-profile -->
      <div id="user-posting">
        <h1>This is my profile!</h1>
        <h2>Feed:</h2>
        <hr>
        <!-- ************************ LINK POST ************************ -->
        <%= simple_form_for @feed_item do |f| %>
          <div id="textpost" style=display:none >
            <%= f.text_area :tl_text, label: "512 character limit", :rows => 6, :cols => 30 %>
            <%= f.submit "Submit" %>
          </div>
          <input name="text" id="messagetick2" type="checkbox" value="yes" />Text &nbsp;
        <% end %>
        <!-- ************************ LINK POST ************************ -->
        <%= simple_form_for @feed_item do |f| %>
          <div id="linkpost" style=display:none >
            <%= f.input :tl_link, label: "Please enter link here" %>
            <%= f.text_area :tl_text, :rows => 6, :cols => 30 %>
            <%= f.submit "Submit" %>
          </div>
          <input name="link" id="messagetick2" type="checkbox" value="yes" />Link &nbsp;
        <% end %>
        <!-- ************************ IMAGE POST ************************ -->
        <%= simple_form_for @feed_item do |f| %>
          <div id="imagepost" style=display:none >
            <%= f.file_field :tl_image, :label => 'Please enter link here' %>
            <%= f.text_area :tl_text, :rows => 6, :cols => 30 %>
            <%= f.submit "Submit" %>
          </div>
          <input name="image" id="messagetick2" type="checkbox" value="yes" />Image &nbsp;
        <% end %>
      </div> <!--end of #user-postin -->
      <div id="soundcloud-player">
        <h2>Soundcloud Player</h2>
      </div> <!--end of #soundcloud-player -->
    </div> <!--end of #innertube -->
  </div><!--end of #leftcolumn -->
</div> <!--end of #maincontainer -->
<script>
  $('input[type="checkbox"]').on('change', function () {
    $('#' + this.name + 'post').slideToggle(this.checked)
                                   .siblings('div')
                                   .slideUp();
    $(this).siblings('input').prop('checked', false);
    });
</script>     
