<div class="item lastfm-top-track-container">   
  <div class="lastfm-top-track-inner-box">
    <%= image_tag feed.image_url %>
    <div class="lastfm-top-track-upper-info-box">
      <div class="upper-info-transparent">
        <div class="icon-type">
          <%= image_tag('small_note.png')%>
        </div>
        <div class="rank-box">
        </div>
      </div>
    </div>
    <div class="lastfm-top-track-info-box">
      <div class="top-track-transparent"></div>
      <div class="top-track-details">
        <h1><%= feed.artist %></h1>
        <p>Track: <%= feed.name %></p>
        <div class="track-bottom-info">
          <p>Playcount: <%= feed.playcount %></p>
        </div>
      </div>
    </div>
  </div><!-- end of .text-post-box  -->
</div><!--end of .item text-post -->
