<div id="contentwrapper">
        <div id="account-mgmt-container">
          <%= yield %>
          <div id="account-mgmt-filter-container">
            <div id="account-mgmt-filter-buttons">
            <a href="#">Integration</a>
            <a href="#">Feeds</a>
            <a href="#">Requests</a>
            <a href="#">Feeders</a>
            </div> <!--end of #account-mgmt-filter-buttons -->
          </div> <!--end of #account-mgmt-filters -->
          <div id="account-mgmt-table">
            <table id="pending-table" cellpadding="20">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
            </table> <!--end of #pending-table -->
          </div> <!--end of #account-mgmt-table -->
        </div> <!--end of #account-mgmt-container -->
      </div> <!--end of #contentwrapper -->