<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <title>FeedEngine</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://static.extension.fm/exfm.js?bg_color=00699e"></script>
  <body>
    <div id="maincontainer">
      <div id="topsection">
        <div class="innertube">
          <div id="logo">
            <h1><%= link_to "Tuneline", root_path %></h1>
          </div>
          <div id="login">
            <% if current_user %>
                <%= current_user.name %>!
                <%= link_to "Profile Page", root_url(subdomain: current_user.subdomain) %>
                <%= link_to "Sign out", signout_path %>
              <!-- render template for header nav -->
            <% else %>
              <%= link_to "Sign in with Twitter", "/auth/twitter" %>
            <% end %>
          </div> <!--end of #login -->
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div> <!--end of .innertube -->
      </div> <!--end of #topsection -->
      <%= yield %>
    </div> <!--end of #maincontainer -->
  </body>
</html>
