<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <title>FeedEngine</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "soundcloud" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="maincontainer">
      <div id="topsection">
        <div class="innertube">
          <div id="logo">
            <h1>Tuneline</h1>
          </div>
          <div id="login">
            <% if current_user %>
              Signed in as <%= current_user.name %>!
              <%= link_to "Go to my page", root_url(subdomain: current_user.subdomain) %>
              <%= link_to "Sign out", signout_path %>
              <!-- render template for header nav -->
            <% else %>
              <%= link_to "Sign in with Twitter", "/auth/twitter" %>
            <% end %>
          </div> <!--end of #login -->
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div> <!--end of .innertube -->
      </div> <!--end of #topsection -->
      <div id="contentwrapper">
        <div id="account-mgmt-container">
          <%= yield %>
          <div id="account-mgmt-filter-container">
            <div id="account-mgmt-filter-buttons">
            <a href="#">Integration</a>
            <a href="#">Feeds</a>
            <a href="#">Requests</a>
            <a href="#">Feeders</a>
            </div> <!--end of #account-mgmt-filter-buttons -->
          </div> <!--end of #account-mgmt-filters -->
          <div id="account-mgmt-table">
            <table id="pending-table" cellpadding="20">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
              <tr class="alt">
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr> <!--end of .alt -->
              <tr>
                <td><%= image_tag('max.png')%></td>
                <td>maxmcquillan</td>
                <td>User</td>
                <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</td>
                <td><button type="button" value="Accept">Accept</button></td>
              </tr>
            </table> <!--end of #pending-table -->
          </div> <!--end of #account-mgmt-table -->
        </div> <!--end of #account-mgmt-container -->
      </div> <!--end of #contentwrapper -->
    </div> <!--end of #maincontainer -->
  </body>
  <script>
    $('input[type="checkbox"]').on('change', function () {
      $('#' + this.name + 'post').slideToggle(this.checked)
                                     .siblings('div')
                                     .slideUp();
      $(this).siblings('input').prop('checked', false);
    });
  </script>
</html>