<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <title>FeedEngine</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "soundcloud" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="maincontainer">
      <div id="topsection">
        <div class="innertube">
          <div id="logo">
            <h1>Tuneline</h1>
          </div>
          <div id="login">
            <% if current_user %>
              Signed in as <%= current_user.name %>!
              <%= link_to "Go to my page", root_url(subdomain: current_user.subdomain) %>
              <%= link_to "Sign out", signout_path %>
              <!-- render template for header nav -->
            <% else %>
              <%= link_to "Sign in with Twitter", "/auth/twitter" %>
            <% end %>
          </div> <!--end of #login -->
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div> <!--end of .innertube -->
      </div> <!--end of #topsection -->
      <div id="contentwrapper">
        <div id="account-mgmt-container">
        <%= yield %>
          <div id="account-mgmt-filters">
            <a href="#">Integration</a>
            <a href="#">Feeds</a>
            <a href="#">Requests</a>
            <a href="#">Feeders</a>
          </div> <!--end of #account-mgmt-filters -->
          <div id="integration-info">
            <h1>Integrate with your favourite music services!</h1>
            <h3>Click to add to your Tuneline feed</h3>
          </div>
          <div id="integration-outer-container">
            <div id="integration-inner-container">
            </div>
          </div>
        </div> <!--end of #account-mgmt-container -->
      </div> <!--end of #contentwrapper -->
    </div> <!--end of #maincontainer -->
  </body>
  <script>
    $('input[name=text]').click(function () {
      $('#textpost').slideToggle($(this).is(':checked'));
    });
    $('input[name=link]').click(function () {
      $('#linkpost').slideToggle($(this).is(':checked'));
    });
    $('input[name=image]').click(function () {
      $('#imagepost').slideToggle($(this).is(':checked'));
    });
  </script>
</html>
