<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <title>FeedEngine</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Nova+Cut' rel='stylesheet' type='text/css'>
  <body>
    <% if current_user %>
    <div id="topsection">
      <div class="innertube">
        <div id="maincontainer" >

          <div class="left-header">
            <div class="nav_image" style="background:url(<%= current_user.image_url %>) no-repeat;"></div>
            <div class="name-space">
              Signed in as <%= current_user.name %>!
              <%= link_to "Sign out", signout_path, redirect_to: root_url(subdomain: 'www') %>
            </div>
          </div>

        </div>
          <div id="logo">
            <%= image_tag('tuneline.png')%>
          </div>
          <div id="login">
              <ul class="nav">
                <li><%= link_to "My Account ", myaccount_path %></li>
                <li><%= link_to "My Crate", root_url(subdomain: current_user.subdomain) %></li>
              </ul>
          <% else %>
              <div id="topsection">
                <div class="innertube">
                  <div id="logo">
                    <div id="logo_image">
                      <%= image_tag('tuneline.png')%>
                    </div>
                  </div>
                  <div class="signin">
                    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
                  </div>
              <% end %>
          </div> <!--end of #topsection -->
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>
          <%= yield %>
      </div> <!--end of #maincontainer -->
      
    </div>
  </body>
</html>

